PROJECT_NAME=AI Recruiter API
DATABASE_URL=postgresql://postgres:postgres@db:5432/ai_recruiter
OPENAI_API_KEY=coloque_sua_chave_aqui
OPENAI_MODEL=gpt-4o-mini
SECRET_KEY=troque_essa_chave
ACCESS_TOKEN_EXPIRE_MINUTES=60
